<html>
    <head>
        <title>Tweet Beat</title>
        <link href='https://fonts.googleapis.com/css?family=Open+Sans|Amaranth:400,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/static/bootstrap.min.css">
        <link rel="stylesheet" href="/static/main.css">
        <link rel='shortcut icon' type='image/x-icon' href='/static/favicon.ico' />
        <style>
            #word_cloud_div{
                width = 84%;
                font-size: 20px;
            }
            .float-left {
                float:left;
                width:33%;
            }
        </style>
        <script type="text/javascript">
            window.onload = function() {
                slidersHide();
                document.getElementById('help-txt').style.display = 'none';
            }
            function slidersHide() {
                if (document.getElementById('pbutton').checked) {
                    document.getElementById('sliders').style.display = 'none';
                    document.getElementById('word_cloud_div').style.display = 'none';
                }
                else if(document.getElementById('fbutton').checked) {
                    document.getElementById('sliders').style.display = 'block';
                    document.getElementById('word_cloud_div').style.display = 'max-width: 950px';
            }
            }
            function helpToggle() {
                document.getElementById('help-txt').style.display = 'block';
            }
        </script>
<script type="text/javascript">
// <![CDATA[
var colour="#ff00f0";
var sparkles=120;

/****************************
*  Tinkerbell Magic Sparkle *
* (c) 2005 mf2fm web-design *
*  http://www.mf2fm.com/rv  *
* DON'T EDIT BELOW THIS BOX *
****************************/
var x=ox=400;
var y=oy=300;
var swide=800;
var shigh=600;
var sleft=sdown=0;
var tiny=new Array();
var star=new Array();
var starv=new Array();
var starx=new Array();
var stary=new Array();
var tinyx=new Array();
var tinyy=new Array();
var tinyv=new Array();

function voganize() { if (document.getElementById) {
  var i, rats, rlef, rdow;
  for (var i=0; i<sparkles; i++) {
    var rats=createDiv(3, 3);
    rats.style.visibility="hidden";
    document.body.appendChild(tiny[i]=rats);
    starv[i]=0;
    tinyv[i]=0;
    var rats=createDiv(5, 5);
    rats.style.backgroundColor="transparent";
    rats.style.visibility="hidden";
    var rlef=createDiv(1, 5);
    var rdow=createDiv(5, 1);
    rats.appendChild(rlef);
    rats.appendChild(rdow);
    rlef.style.top="2px";
    rlef.style.left="0px";
    rdow.style.top="0px";
    rdow.style.left="2px";
    document.body.appendChild(star[i]=rats);
  }
  set_width();
  sparkle();
}}

function sparkle() {
  var c;
  if (x!=ox || y!=oy) {
    ox=x;
    oy=y;
    for (c=0; c<sparkles; c++) if (!starv[c]) {
      star[c].style.left=(starx[c]=x)+"px";
      star[c].style.top=(stary[c]=y)+"px";
      star[c].style.clip="rect(0px, 5px, 5px, 0px)";
      star[c].style.visibility="visible";
      starv[c]=50;
      break;
    }
  }
  for (c=0; c<sparkles; c++) {
    if (starv[c]) update_star(c);
    if (tinyv[c]) update_tiny(c);
  }
  setTimeout("sparkle()", 40);
}

function update_star(i) {
  if (--starv[i]==25) star[i].style.clip="rect(1px, 4px, 4px, 1px)";
  if (starv[i]) {
    stary[i]+=1+Math.random()*3;
    if (stary[i]<shigh+sdown) {
      star[i].style.top=stary[i]+"px";
      starx[i]+=(i%5-2)/5;
      star[i].style.left=starx[i]+"px";
    }
    else {
      star[i].style.visibility="hidden";
      starv[i]=0;
      return;
    }
  }
  else {
    tinyv[i]=50;
    tiny[i].style.top=(tinyy[i]=stary[i])+"px";
    tiny[i].style.left=(tinyx[i]=starx[i])+"px";
    tiny[i].style.width="2px";
    tiny[i].style.height="2px";
    star[i].style.visibility="hidden";
    tiny[i].style.visibility="visible"
  }
}

function update_tiny(i) {
  if (--tinyv[i]==25) {
    tiny[i].style.width="1px";
    tiny[i].style.height="1px";
  }
  if (tinyv[i]) {
    tinyy[i]+=1+Math.random()*3;
    if (tinyy[i]<shigh+sdown) {
      tiny[i].style.top=tinyy[i]+"px";
      tinyx[i]+=(i%5-2)/5;
      tiny[i].style.left=tinyx[i]+"px";
    }
    else {
      tiny[i].style.visibility="hidden";
      tinyv[i]=0;
      return;
    }
  }
  else tiny[i].style.visibility="hidden";
}

document.onmousemove=mouse;
function mouse(e) {
  set_scroll();
  y=(e)?e.pageY:event.y+sdown;
  x=(e)?e.pageX:event.x+sleft;
}

function set_scroll() {
  if (typeof(self.pageYOffset)=="number") {
    sdown=self.pageYOffset;
    sleft=self.pageXOffset;
  }
  else if (document.body.scrollTop || document.body.scrollLeft) {
    sdown=document.body.scrollTop;
    sleft=document.body.scrollLeft;
  }
  else if (document.documentElement && (document.documentElement.scrollTop || document.documentElement.scrollLeft)) {
    sleft=document.documentElement.scrollLeft;
	sdown=document.documentElement.scrollTop;
  }
  else {
    sdown=0;
    sleft=0;
  }
}

window.onresize=set_width;
function set_width() {
  if (typeof(self.innerWidth)=="number") {
    swide=self.innerWidth;
    shigh=self.innerHeight;
  }
  else if (document.documentElement && document.documentElement.clientWidth) {
    swide=document.documentElement.clientWidth;
    shigh=document.documentElement.clientHeight;
  }
  else if (document.body.clientWidth) {
    swide=document.body.clientWidth;
    shigh=document.body.clientHeight;
  }
}

function createDiv(height, width) {
  var div=document.createElement("div");
  div.style.position="absolute";
  div.style.height=height+"px";
  div.style.width=width+"px";
  div.style.overflow="hidden";
  div.style.backgroundColor=colour;
  return (div);
}
// ]]>
</script>    </head>

    <body>
        <!-- TODO: Please change lines 10 and 11 according to your actual project name and student names-->
        <div class='topleft'>
            <p id="help-msg" onclick="javascript:helpToggle();"><b>help</b></p>
        <div id="help-txt" style='none' hidden>
            <p>Input a hashtag/topic into the search bar.</p>
            <p>Adjust sliders to fine-tune what you desire in your lyrics.</p>
            <p>After submitting your query, the rap lyrics will be shown below.</p>
            <p>Below that are word clouds to help visualize the data from both Twitter and our song database.</p>
        </div>
        </div>

        <div class="topcorner">
            <p><b>Tweet Beat</b></p>
            <p id="voganizer" onclick="javascript:voganize();">Ryan Vogan (rcv39)</p>
            <p>Warren Crowell (wmc62)</p>
            <p>Elly Nakahara (en254)</p>
            <p>Jun Hyung Lee (jl2252)</p>
        </div>

        <form class="form-inline global-search" method='GET'>
            <h1 style="font-size: 70px; opacity: 1; font-weight: 700; font-family: Amaranth, sans-serif; color: #55ACEE">
                <a href="http://cs4300sp2016-tweetbeat.herokuapp.com/">tweetbeat</a>
            </h1>

            <br><br>

            <div class="form-group">

                {% if search == '' %}
                <input id="input" type="text" name="search" class="form-control" placeholder="Input a hashtag or a list of hashtags to generate a relevant rap">
                {% else %}
                <input id="input" type="text" name="search" class="form-control" placeholder="{{ search }}" value="{{ search }}">
                {% endif %}

            </div>
            <button type="submit" class="btn btn-info"> Go! </button>

            <br><br>

            <div style = "margin-right: 50px;">
                <input type="radio" name="algorithm" value="prototype" id="pbutton" onclick="javascript:slidersHide();" class="radio" {% if algorithm == 'prototype' %}checked{% endif %}/>
                    <label for="pbutton"> Prototype </label>
            </div>

            <div style = "margin-left: 50px;">
                <input type="radio" name="algorithm" value="final" id="fbutton" onclick="javascript:slidersHide();" class="radio" {% if algorithm == '' or algorithm != 'prototype' %}checked{% endif %}/>
                    <label for="fbutton"> Final </label>
            </div>


            <br></br>
            <div id="sliders">
            <div style = "max-width: 950px" >
                <div style = "width: 270px; margin: 10px 20px;">
                    <center>Rhyme Importance</center><br>
                    <input type="range" name="rhymeImportance" id="rhymeInputId" value="{{ rhymeImportance }}" min="0" max="1" step="0.01" oninput="rhymeOutputId.value = rhymeInputId.value">
                    <output name="rhymeOutputName" id="rhymeOutputId">{{ rhymeImportance }}</output>
                </div>

                <div style = "width: 270px; margin: 10px 20px;">
                    <center>Part of Speech Importance</center><br>
                    <input type="range" name="posImportance" id="posInputId" value="{{ posImportance }}" min="0" max="1" step="0.01" oninput="posOutputId.value = posInputId.value">
                    <output name="posOutputName" id="posOutputId">{{ posImportance }}</output>
                </div>

                <div style = "width: 270px; margin: 10px 20px;">
                    <center>Syllable Count Importance</center><br>
                    <input type="range" name="syllableCountImportance" id="syllableInputId" value="{{ syllableCountImportance }}" min="0" max="1" step="0.01" oninput="syllableOutputId.value = syllableInputId.value">
                    <output name="syllableOutputName" id="syllableOutputId">{{ syllableCountImportance }}</output>
                </div>

                <div style = "width: 270px; margin: 10px 20px;">
                    <center>Hashtag Relevance</center><br>
                    <input type="range" name="hashtagRelevance" id="hashtagInputId" value="{{ hashtagRelevance }}" min="0" max="1" step="0.01" oninput="hashtagOutputId.value = hashtagInputId.value">
                    <output name="hashtagOutputName" id="hashtagOutputId">{{ hashtagRelevance }}</output>
                </div>

                <div style = "width: 270px; margin: 10px 20px;">
                    <center>Lyric Relevance</center><br>
                    <input type="range" name="lyricRelevance" id="lyricInputId" value="{{ lyricRelevance }}" min="0" max="1" step="0.01" oninput="lyricOutputId.value = lyricInputId.value">
                    <output name="lyricOutputName" id="lyricOutputId">{{ lyricRelevance }}</output>
                </div>

                <div style = "width: 270px; margin: 10px 20px;">
                    <center>Semantic Similarity</center><br>
                    <input type="range" name="semanticSimilarity" id="wordSubInputId" value="{{ semanticSimilarity }}" min="0" max="1" step="0.01" oninput="wordSubOutputId.value = wordSubInputId.value">
                    <output name="wordSubOutputName" id="wordSubOutputId">{{ semanticSimilarity }}</output>
                </div>
            </div>
            </div>

        </form>

        <div class="form-inline global-search">
            {% for line in output %}
                {% autoescape off %}{{line}}{% endautoescape %}<br>
            {% endfor %}

        {% if word_cloud_list_1 != '' %}

        <div id="word_cloud_div">
            <br></br>
            {% if output  %}
            <div><b>Hashtag Word Cloud</b><br>
            <div id="word_cloud_1" class="float-center"></div>
            </div>

            <div><b>Rap Lyric Word Cloud</b><br>
            <div id="word_cloud_2" class="float-center"/></div>
            </div>
            {% endif %}
        </div>
    </div>

        {% load static from staticfiles %}
        <script src="http://d3js.org/d3.v3.min.js"></script>
        <script src="https://www.jasondavies.com/wordcloud/cloud.min.js"></script>
        {% static "d3.v3.min.js" as minjs %}
        <script src="{{minjs}}"></script>
        {% static "d3.layout.cloud.js" as cloudjs %}
        <script src="{{cloudjs}}"></script>

        <script>
            var frequency_list_1 = [];
            {% for word_weight in word_cloud_list_1 %}
            frequency_list_1.push({
                "text": "{{word_weight.0}}",
                "size": {{word_weight.1}}
            });
            {% endfor %}

            var frequency_list_2 = [];
            {% for word_weight in word_cloud_list_2 %}
            frequency_list_2.push({
                "text": "{{word_weight.0}}",
                "size": {{word_weight.1}}
            });
            {% endfor %}

            var colors = ["#023fa5", "#7d87b9", "#bec1d4", "#d6bcc0", "#bb7784", "#8e063b", "#4a6fe3", "#8595e1", "#b5bbe3", "#e6afb9", "#e07b91", "#d33f6a", "#11c638", "#8dd593", "#c6dec7", "#ead3c6", "#f0b98d", "#ef9708", "#0fcfc0", "#9cded6", "#d5eae7", "#f3e1eb", "#f6c4e1", "#f79cd4"];

            function rand_color(colors) {
                return colors[Math.round(Math.random() * (colors.length - 1))];
            }

            // word_cloud_1
            d3.layout.cloud().size([600, 600])
                    .words(frequency_list_1)
                    .rotate(0)
                    .fontSize(function(d) { return d.size ; })
                    .on("end", draw1)
                    .start();

            function draw1(words) {

                var svg =  d3.select("#word_cloud_1").append("svg")
                            .attr("width", 700)
                            .attr("height", 600)
                            .attr("class", "wordcloud")
                            .append("g")
                            // without the transform, words words would get cutoff to the left and top, they would
                            // appear outside of the SVG area
                            .attr("transform", "translate(260,215)")
                            .selectAll("text")
                            .data(words)
                            .enter().append("text")
                            .style("font-size", function(d) { return d.size + "px"; })
                            .style("font-family", "Amaranth")
                            .style("fill", function(d) { return rand_color(colors); })
                            .attr("transform", function(d) {
                                return "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")";
                            })
                            .text(function(d) { return d.text; });
            }

            // word_cloud_2
            d3.layout.cloud().size([600, 600])
                    .words(frequency_list_2)
                    .rotate(0)
                    .fontSize(function(d) { return d.size; })
                    .on("end", draw2)
                    .start();

            function draw2(words) {

                var svg =  d3.select("#word_cloud_2").append("svg")
                            .attr("width", 700)
                            .attr("height", 600)
                            .attr("class", "wordcloud")
                            .append("g")
                            // without the transform, words words would get cutoff to the left and top, they would
                            // appear outside of the SVG area
                            .attr("transform", "translate(260,215)")
                            .selectAll("text")
                            .data(words)
                            .enter().append("text")
                            .style("font-size", function(d) { return d.size + "px"; })
                            .style("font-family", "Amaranth")
                            .style("fill", function(d) { return rand_color(colors); })
                            .attr("transform", function(d) {
                                return "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")";
                            })
                            .text(function(d) { return d.text; });
            }

        </script>
        {% endif %}
    </body>
</html>
