<html>
    <head>
        <title>Tweet Beat</title>
        <link href='https://fonts.googleapis.com/css?family=Open+Sans|Amaranth:400,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/static/bootstrap.min.css">
        <link rel="stylesheet" href="/static/main.css">
        <link rel='shortcut icon' type='image/x-icon' href='favicon.ico' />
        <style>
            #word_cloud_div{
                width = 84%;
                font-size: 20px;
            }
            .float-left {
                float:left;
                width:33%;
            }
        </style>
    </head>

    <body>
        <!-- TODO: Please change lines 10 and 11 according to your actual project name and student names-->
        <div class="topcorner">
            <p><b>Tweet Beat</b></p>
            <p>Ryan Vogan (rcv39)</p>
            <p>Warren Crowell (wmc62)</p>
            <p>Elly Nakahara (en254)</p>
            <p>Jun Hyung Lee (jl2252)</p>
        </div>

        <form class="form-inline global-search" method='GET'>
            <h1 style="font-size: 70px; opacity: 1; font-weight: 700; font-family: Amaranth, sans-serif; color: #55ACEE">
                <a href="http://cs4300sp2016-tweetbeat.herokuapp.com/">tweetbeat</a>
            </h1>

            <br><br>

            <div class="form-group">
                <input id="input" type="text" name="search" class="form-control" placeholder="Input a hashtag or a list of hashtags separated by spaces">
            </div>
            <button type="submit" class="btn btn-info"> Go! </button>

            <br><br>

            <div style = "margin-right: 50px;">
                <input type="radio" name="algorithm" value="prototype" id="pbutton" class="radio" {% if algorithm == 'prototype' %}checked{% endif %}/>
                    <label for="pButton"> Prototype </label>
            </div>

            <div style = "margin-left: 50px;">
                <input type="radio" name="algorithm" value="final" id="fbutton" class="radio" {% if algorithm == '' or algorithm != 'prototype' %}checked{% endif %}/>
                    <label for="fbutton"> Final </label>
            </div>

            <br></br>

            <div style = "max-width: 900px">
                <div style = "width: 270px; margin-left: 20px; margin-right: 20px;">
                    <center>Rhyme Importance</center><br>
                    <input type="range" name="rhymeInputName" id="rhymeInputId" value="1" min="0" max="5" step="0.01" oninput="rhymeOutputId.value = rhymeInputId.value">
                    <output name="rhymeOutputName" id="rhymeOutputId">1</output>
                </div>

                <div style = "width: 270px; margin-left: 20px; margin-right: 20px;">
                    <center>Part of Speech Importance</center><br>
                    <input type="range" name="posInputName" id="posInputId" value="1" min="0" max="5" step="0.01" oninput="posOutputId.value = posInputId.value">
                    <output name="posOutputName" id="posOutputId">1</output>
                </div>

                <div style = "width: 270px; margin-left: 20px; margin-right: 20px;">
                    <center>Syllable Count Difference Importance</center><br>
                    <input type="range" name="syllableInputName" id="syllableInputId" value="1" min="0" max="5" step="0.01" oninput="syllableOutputId.value = syllableInputId.value">
                    <output name="syllableOutputName" id="syllableOutputId">1</output>
                </div>

                <div style = "width: 270px; margin-left: 20px; margin-right: 20px;">
                    <center>Hashtag Relevance</center><br>
                    <input type="range" name="hashtagInputName" id="hashtagInputId" value="1" min="0" max="5" step="0.01" oninput="hashtagOutputId.value = hashtagInputId.value">
                    <output name="hashtagOutputName" id="hashtagOutputId">1</output>
                </div>

                <div style = "width: 270px; margin-left: 20px; margin-right: 20px;">
                    <center>Lyric Relevance</center><br>
                    <input type="range" name="lyricInputName" id="lyricInputId" value="1" min="0" max="5" step="0.01" oninput="lyricOutputId.value = lyricInputId.value">
                    <output name="lyricOutputName" id="lyricOutputId">1</output>
                </div>

                <div style = "width: 270px; margin-left: 20px; margin-right: 20px;">
                    <center>Word Substitution Similarity</center><br>
                    <input type="range" name="wordSubInputName" id="wordSubInputId" value="1" min="0" max="5" step="0.01" oninput="wordSubOutputId.value = wordSubInputId.value">
                    <output name="wordSubOutputName" id="wordSubOutputId">1</output>
                </div>
            </div>

        </form>

        <div class="form-inline global-search">
            {% for line in output %}
                {% autoescape off %}{{line}}{% endautoescape %}<br>
            {% endfor %}

            <!-- <div class="pagination">
                <span class="step-links">
                    {% if output.has_previous %}
                    <a href= "{{magic_url}}&page={{ output.previous_page_number }}">previous</a>
                    {% endif %}

                    <span class="current">
                    Page _{{ output.number }}_ of _{{ output.paginator.num_pages }}_
                    </span>

                    {% if output.has_next %}
                    <a href= "{{magic_url}}&page={{ output.next_page_number }}">next</a>
                    {% endif %}
                </span>
            </div> -->
        </div>
        <div id="word_cloud_div">
            <h4 align="center"></h4>
           <!--
            <table>
            <tr>
                <th>{{song_list.0.0}}</th>
                <th>{{song_list.1.0}}</th>
                <th>{{song_list.2.0}}</th>
            </tr>
            </table>
            -->
            <div id="word_cloud_1" align="center" class="float-center"></div>
            <!--<div id="word_cloud_2" align="center" class="float-left"></div>
            <div id="word_cloud_3" align="center" class="float-left"></div>-->
        </div>

        {% if output  %}
        {% load static from staticfiles %}
        <script src="http://d3js.org/d3.v3.min.js"></script>
        <script src="https://www.jasondavies.com/wordcloud/cloud.min.js"></script>
        {% static "d3.v3.min.js" as minjs %}
        <script src="{{minjs}}"></script>
        {% static "d3.layout.cloud.js" as cloudjs %}
        <script src="{{cloudjs}}"></script>

        <script>

            // frequency_lists for top 3 movies
            var frequency_list_1 = [];
            {% for word_weight in word_cloud_list_1 %}
            frequency_list_1.push({
                "text": "{{word_weight.0}}",
                "size": {{word_weight.1}}
            });
            {% endfor %}

            var colors = ["#FFCC00", "#4CD964", "#34AADC", "#007AFF","#5856D6",
            "#FF2D55","#FF2A68", "#FF9500", "#FF5E3A","#FFDB4C", "#FFCD02",
            "#0BD318","#5AC8FB","1D62F0","#5856D6","C643FC", "2B2B2B","#898C90",
            "#FF3B30","#FF9500","FFCC00","5856D6","8E8E93","5AD42","#FF3A2D",
            "BDBEC2","1F1F21","FF1400","FF4981","5BCAFF","55EFCB","D6CEC3",
            "1D77EF","81F3FD","#FF5B37","FB2B69","E0F8D8","#C86EDF"];

            function rand_color(colors) {
                return colors[Math.round(Math.random() * (colors.length - 1))];
            }

            // word_cloud_1
            d3.layout.cloud().size([600, 600])
                    .words(frequency_list_1)
                    .rotate(0)
                    .fontSize(function(d) { return d.size; })
                    .on("end", draw1)
                    .start();

            function draw1(words) {

            var svg =  d3.select("#word_cloud_1").append("svg")
                        .attr("width", 600)
                        .attr("height", 600)
                        .attr("class", "wordcloud")
                        .append("g")
                        // without the transform, words words would get cutoff to the left and top, they would
                        // appear outside of the SVG area
                        .attr("transform", "translate(250,300)")
                        .selectAll("text")
                        .data(words)
                        .enter().append("text")
                        .style("font-size", function(d) { return d.size + "px"; })
                        .style("fill", function(d) { return rand_color(colors); })
                        .attr("transform", function(d) {
                            return "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")";
                        })
                        .text(function(d) { return d.text; });
            }

        </script>
        {% endif %}
    </body>
</html>
